body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.highlight {
  color: midnightblue;
}

.left {
  display: inline-block;
}

.right {
  display: inline-block;
}

.tile-image {
  float: left;
  width: 300px;
  height: 200px;
  padding: 30px;
}

@media (max-width:480px) {
  h1 {
    font-size: 3rem;
  }

  .logo {
    width: 120px;
  }

  .tile-image {
    border-radius: 5%;
    width: 100%;
    padding: 0%;
  }

  .left .right {
    margin: 10px;
  }

  .card-title {
    margin: 10px 0 10px 0;
    font-family: monospace;
  }

  .card-text,
  .right>p {
    font-family: monospace;
  }

  footer {
    font-weight: 500;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }

  .card-text,
  .right>p {
    font-family: monospace;
  }

  .card-title {
    font-family: monospace;
    margin: 0%;
    padding-top: 20px;
  }

  .tile-image {
    padding: 2%;
    border-radius: 8%;
  }

  .logo {
    width: 170px;
  }

  footer {
    font-weight: 500;
    font-size: 2rem;
  }
}

@media (min-width: 1201px) and (max-width: 2400px) {
  .logo {
      width: 200px;
    }
  
  h1{
    font-size: 3rem;
  }

  .highlight{
    display: block;
  }

  .card-text {
    max-width: 600px;
    font-family: monospace;
  }

  .card-title {
    font-family: monospace;
  }

  .right>p {
    max-width: 600px;
    font-family: monospace;
  }

  footer {
    font-size: 20px;
    font-weight: 400;
  }
}